
@{
    //ViewBag.Title = "GetAllInterests";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GetAllInterests</h2>
<div ng-controller="treeViewCtrl">
    <div compile="generateTreeHtml(tree, 0)" class="tree">
    </div>
</div>
