.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

@-webkit-keyframes myFadeOutDown {
  0% {
    opacity: 1;
    min-height : 20px;
    max-height : 20px;
    padding : 3px 0px;
    border-bottom:1px solid #999;
  }

  100% {
    opacity: 0;
    min-height : 0px;
    max-height : 0px;
    padding : 0px;
    border-bottom:1px solid #999;
    -webkit-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes myFadeOutDown {
  0% {
    opacity: 1;
    /*min-height : 20px;*/
    /*max-height : 20px;*/
    padding : 3px 0px;
    border-bottom:1px solid #999;
  }

  100% {
    opacity: 0;
    /*min-height : 0px;*/
    /*max-height : 0px;*/
    padding : 0px;
    border-bottom:1px solid #999;
    -webkit-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

.myFadeOutDown {
  -webkit-animation-name: myFadeOutDown;
  animation-name: myFadeOutDown;
}

@-webkit-keyframes myFadeInDown {
  0% {
    /*min-height : 0px;*/
    opacity: 0;
    padding : 0px;
    border-bottom:0px solid #999;

    -webkit-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    /*min-height : 20px;*/
    opacity: 1;
    padding : 3px 0px;
    border-bottom:1px solid #999;

    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

@keyframes myFadeInDown {
  0% {
    min-height : 0px;
    opacity: 0;
    padding : 0px;
    border-bottom:0px solid #999;

    -webkit-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    min-height : 20px;
    opacity: 1;
    padding : 3px 0px;
    border-bottom:1px solid #999;

    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

.myFadeInDown {
  -webkit-animation-name: myFadeInDown;
  animation-name: myFadeInDown;
}




@-webkit-keyframes rotateUp {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

@keyframes rotateUp {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

.rotateUp {
  -webkit-animation-name: rotateUp;
  animation-name: rotateUp;
}


@-webkit-keyframes rotateDown {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

@keyframes rotateDown {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

.rotateDown {
  -webkit-animation-name: rotateDown;
  animation-name: rotateDown;
}




.tree {
    padding:1px;
    margin-bottom:20px;
    background-color:rgb(230, 225, 225);
    border:1px solid #999;

    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;

    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow:inset 0 1px 1px rgb(247, 242, 242);
}
.tree ul{
    padding-left : 10px;
    background-color:rgb(246, 237, 237);
}
.tree li {
    list-style-type:none;
    margin:0 0 0 1px;
    padding:-5px;
    position:relative;
}
.tree li div {
    border-bottom:1px solid #999;
    display:inline-block;
    padding:3px 0px;
    /*height : 20px;*/
    text-decoration:none;
    width : 100%;
}
.tree div {
    cursor:pointer;
}

.hidden {
	display : none;
}

.showed {
    display: block;
}